/* Error: Undefined mixin.
 *    ,
 * 21 |     @include get-font( $name);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   1-styles/1-base/typography.scss 21:5  @import
 *   1-styles/1-base/base-dir.scss 2:9     @import
 *   1-styles/eugenio.scss 2:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 21 \2502      @include get-font( $name);\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   1-styles/1-base/typography.scss 21:5  @import\a   1-styles/1-base/base-dir.scss 2:9     @import\a   1-styles/eugenio.scss 2:9             root stylesheet";
}
