.counter {
  @extend .text--white;
  text-align: center;
  font-family: Roboto;
  @at-root #{&}__title {
    @extend .counter;
    @include font-size(20px);
    line-height: 28px;
    font-weight: bolder;
  }
  @at-root #{&}__text {
    @extend .text--white;
    @extend .counter;
    @include get-font('light--ex');
    @include font-size(70px);
    letter-spacing: 0.8px;
    line-height: 65x;
    letter-spacing: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    strong {
      @include get-font('bold');
      font-weight: bolder;
    }
  }
  @at-root #{&}__cta {
    @extend .bg--brown;
    @include font-size(14px);
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 12px;
    border-radius: 26px;
    letter-spacing: 0.7px;
  }
}