#cta__section {
  .cta {
    @extend .text--white;
    @include get-font('reg', 'roboto');
    text-align: center;
    @at-root #{&}__title {
      @extend .cta;
      @include get-font('bold', 'roboto');
      @include font-size(20px);
      @include margin-bottom(45px);
      line-height: 28px;
      letter-spacing: 1px;
      font-weight: bolder;
    }
    @at-root #{&}__text {
      @extend .text--white;
      @extend .cta;
      @include get-font('light--ex');
      @include font-size(70px);
      @include margin-bottom(45px);
      @include margin-top(25px);
      letter-spacing: 0.8px;
      line-height: 65px;
      letter-spacing: 14px;
      text-align: center;
      text-transform: uppercase;
      font-weight: lighter;
      strong {
        @include get-font('bold');
        font-weight: bolder;
      }
  
      @at-root #{&}--question {
        @include font-size(47px);
        line-height: 63px;
        letter-spacing: 2.35px;
      }
    }
    @at-root #{&}__button {
      @extend .button, .button--medium, .button--brown;
    }
  }
}