$events-background:linear-gradient(180deg, #F7F7F7, #EFEFEF);
#events {
  @at-root #{&}__upcoming {
    .article-content-wrap {
      @include get-font('reg', 'roboto');
      @include font-size(16px);
      line-height: 26px;
      letter-spacing: 1px;
      background: $events-background;
      .post-header {
        @include font-size(20px);
        line-height: 28px;
        letter-spacing: 0.8px;
      }
    }
    .inner-wrap {
      @extend .article-content-wrap;
      @include get-font('bold', 'roboto');
      font-weight: bolder;
      display: flex;
      flex-flow: column-reverse;
    }
    .meta-category {
      display: none;
    }
    .post-featured-img {
      img {
        margin: 0 auto 35px;
      }
    }
  }
}