.feature {
  @include get-font('light', 'roboto');
  text-align: center;
  @at-root #{&}__title {
    @extend .feature;
    @include font-size(30px);
    @include padding-bottom(15px);
    line-height: 28px;
    letter-spacing: 1.5px;
    font-weight: lighter;
    text-transform: uppercase;
  }
  @at-root #{&}__text {
    @extend .feature;
    @include get-font('reg', 'roboto');
    @include font-size(16px);
    letter-spacing: 0.8px;
    line-height: 26px;
  }
}