
.hero {
  .eugenio-logo {
    position: relative;
  }
  @at-root #{&}__content {
    > .vc_column-inner {
      padding: 90px;
      padding-left: 12vw;
    }
    @at-root #{&}--right {
      > .vc_column-inner {
        padding: 90px 15vw 90px 33px;
      }
    }
  }
  @at-root #{&}__title {
    @extend .text--light-green;
    @include get-font('light--ex');
    @include font-size(60px);
    letter-spacing: 4.2px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: lighter;
      strong {
        @include get-font('bold');
      }
  }
  @at-root #{&}__text {
    @extend .text--white;
    @include get-font('light', 'roboto');
    @include font-size(20px);
    line-height: 26px;
    letter-spacing: 1px;
  }
}