.newsletter {
  @at-root #{&}--small {
    min-height: 115px;
  }
  @at-root #{&}--text {
    @extend .text--green;
    letter-spacing: 0.75px;
    @include font-size(25px);
    line-height: 54px;
    
  }
}