.section {
  @at-root #{&}__title {
    @extend .text--light-green;
    @include get-font('light');
    @include font-size(30px);
    @include margin-bottom(12px);
    font-weight: lighter;
    letter-spacing: 1.5px;
    line-height: 40px;
    text-transform: uppercase;
    
    strong {
      @include get-font('bold--ex');
      font-weight: bolder;
    }
    @at-root #{&}--gallery {
      @include margin-top(30px);
      letter-spacing: 0;
      text-transform: initial;
    }

    @at-root #{&}--logos {
      @include font-size(18px);
      letter-spacing: 4.5px;
      line-height: 40px;
    }

    @at-root #{&}--services {
      @extend .text--white;
      @include font-size(47px);
      letter-spacing: 2.35px;
      line-height: 63px;
    }
  }

  @at-root #{&}__content {
    @at-root #{&}--services {
      padding: 100px 20px 40px;
      background: #b74343;
      border-radius: 22px 22px 0 0;
      margin-bottom: 0px !important;
    }
  }
  @at-root #{&}__image {
    @at-root #{&}--services {
      width: 100%;
    }
  }
}
