@use "sass:map";

$fonts__websafe: Verdana, Geneva, Tahoma, sans-serif;
$fonts__nunito: (
  reg: 'NunitoSans-Regular',
  light: 'NunitoSans-Light',
  light--ex: 'NunitoSans-ExtraLight',
  bold: 'NunitoSans-Bold',
  bold--ex: 'NunitoSans-ExtraBold',
);
$fonts__roboto: (
  reg: 'Roboto-Regular',
  bold: 'Roboto-Bold',
  light: 'Roboto-Light',
  light--i: 'Roboto-LightItalic',
);

$alignments: (left, center, right, justify);
$styles: ('normal', 'italic');

@mixin get-font($style, $family: 'nunito') {
  @if $family == 'nunito' {
    font-family: map.get($fonts__nunito, $style), $fonts__websafe;
  }
  @if $family == 'roboto' {
    font-family: map.get($fonts__roboto, $style), $fonts__websafe;
  }
}

@each $alignment in $alignments {
  .align--#{$alignment} {
    text-align: $alignment;
  }
}

@each $style in $styles {
  .text--#{$style} {
    font-style: $style;
  }
}

@each $name, $font in $fonts__nunito {
  @include font-face($font, '../0-typography/nunito-sans/#{$font}', normal, normal, "ttf");
 
  .text--#{$name} {
    @include get-font( $name);
  }
}

@each $name, $font in $fonts__roboto {
  @include font-face($font, '../0-typography/roboto/#{$font}', normal, normal, "ttf");
}

body {
  * {
    @include get-font('light--ex');
  }
  
  p {
    @include get-font('reg');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include get-font('bold');
  }
}
