$dark-green: #1A3129;
$light-green: #55A086;
$green: #55A086;
$brown: #F7B27B;
$maroon: #781616;
$white: #FFFFFF;
$black: #191919;
$grey-one: #F7F7F7;
$grey-two: #EFEFEF;

$green-text: $green;
$black-text: $black;